name: blog_api_dart
description: Dart FFI example using proto2ffi generated bindings
version: 0.1.0
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  ffi: ^2.1.0
  path: ^1.8.3
